




<div id="background">
    
    <div id="box" class="container text-center text-white bg-dark  border p-3 ">
        <p style="font-size: larger; font-weight: lighter;">{{data}}</p>

        <div class="text-center mt-5"><button routerLink="/dashboard" class="button-3d">Ok</button></div>

    </div>

</div>


<footer>
    <div class="text-center">
        <p style="font-size: larger;">SOFT-TECH<span style="font-size: small;">- Copyright ©  2010-2025 Soft-Tech Company S.L. All rights reserved.</span></p>
    </div>

    <div class="footcnt">
        
            <p>Web Design Cochin Testimonials</p>
            <p>Cochin Website Development</p>
            <p>Website Content Writing & Marketing</p>
        
    </div>

    <div class="footcnt">
        
        <p>Custom Web Design & Development</p>
        <p>Website Design Blogs & Forums</p>
        <p>Cochin Media & Web Design</p>
        <p>Social Media Design & Developoment</p>

        <p>Web App Design & Development</p>

    
</div>
</footer>